
body {
  background-color: rgb(236, 219, 219);
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
 }

main {

   }
  li {
    float: left;
}

body .nav  {
    display: inline;
    padding: 8px;
    background-color: #dddddd;
}
main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {

  float: left;

}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.contact a {
  display:block
  color: rgb(223, 210, 210);
  padding: 14px 16px;
  text-align:left;
  
}

img {
  margin-right: 55px;
}
  


.information {
  text-align: end;
  margin-right: 15px;
  
}

video {
  width: 700px; 
  height: 400px;
}



